.title1 {
    color: var(--app-color-text-accent);
}

.durability-contain-section .title1 {
    color: var(--app-color-text-primary);
}

.after-section {
    /* border-bottom: 0.1px solid #BbBbBb; */
    padding: 50px 0;
    padding-top: 0;
}

.sous-titre {
    font-size: 1.36rem;
    line-height: 1.86rem;
    font-weight: 500;
}

.resp-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.resp-img2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.risk-exposure-bloc{
    margin-left: auto;
    margin-right: auto;
}


.resp-img2 img{
    /* max-width: calc(50% - 20px); */
    height: unset;
    min-width: min(385px,90%);
    max-width: 250px;
    object-fit: contain;
}



/*
----------durability-contain-section--------
*/

.durability-contain-section {
    align-items: center;
}

.durability-contain {
    margin-top: 50px;
}

.durability-image {
    width: 60%;
    /* margin-top: 125px; */
}

/*
----------exposition-risq-section--------
*/

.exposition-risq-section {
    align-items: center;
    flex-direction: column;
}

.bloc-type-twins-large-first.approch-border{
    text-align: center;
}

/* .exposition-risq {
    padding-left: var(--app-global-padding-default);
} */

.exposition-risq-image {
    width: 60%;
}

/*
----------resist-stress-section--------
*/

.resist-stress-section {
    align-items: center;
}


.resist-stress-image {
    width: 70%;
}

/*
----------together-contain-section--------
*/

.together-contain-section {
    align-items: start;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.together-bloc {
    text-align: center;
    /* margin-top: 50px; */
}

.together-contain-image {
    width: 50%;
}


/*
----------engagment-contain-section--------
*/

.engagment-contain-section {
    align-items: start;
    justify-content: center;
}

.engagment-contain-section {
    flex-direction: column;
}

.engagment-contain-section .bloc-type-twins-large-first {
    width: 100%;
}

.engagment-contain-section .engagment-contain-imag {
    width: 100%;
}

.engagment-contain {
    text-align: center;
}

.engagment-contain-seg2 {
    margin: 0;
}

.engagment-contain-detail {
    justify-content: center;
    max-width: 1379px;
    margin-left: auto;
    margin-right: auto;
}

.engagment-contain-image {
    max-height: 90vh;
    max-width: 90%;
    margin-top: 2rem;
}

/*
----------demographie-section--------
*/

.demographie-section {
    align-items: start;
    flex-direction: row-reverse;
}

.demographie-section .bloc-type-twins-large-first {
    flex: 2;
}

.demographie-section .bloc-type-twins-large-second {}

.demographie-section .demographie-image-group {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.demographie-image {
    width: 80px;
}

/*
----------column4-section--------
*/

.column4-section {
    text-transform: uppercase;
}

.column4-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.column4-section ul {
    list-style: none;
    padding: 0;
}

.column4-section li {
    position: relative;
    /* border-bottom: 1px solid transparent; */
    padding: 10px 0;
}

.column4-section li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7%;
    height: 1px;
    background: black;
}

.column4-container-list {
    column-gap: 40px;
    display: grid;
    grid-template-areas: "one two three four";
    grid-template-columns: 25%;
}

.column4-list strong {
    font-weight: bold;
}

.column4-container-item .resp-img {
    justify-content: flex-end;
}

.column4-container-list>div:nth-child(1) {
    grid-area: one;
}

.column4-container-list>div:nth-child(2) {
    grid-area: two;
}

.column4-container-list>div:nth-child(3) {
    grid-area: three;
}

.column4-container-list>div:nth-child(4) {
    grid-area: four;
}

.colum4-image {
    width: 50px;
}

@media (max-width:1240px) {
    .sous-titre {
        font-size: inherit;
    }

    .resist-stress {
        margin-right: 0;
    }

    .together-bloc {
        margin-top: 0;
    }
}

@media (min-width: 991.95px) and (max-width: 1104px) {
    .together-contain-section {
        margin-top: 0;
    }
}

@media (max-width:991.95px) {

    .resp-img2{
        flex-wrap: wrap;
    }

    main img{
        margin-bottom: 3rem;
    }

    .durability-contain-section {
        margin-top: 55px;
        align-items: stretch;
        flex-direction: column;
    }

    .durability-contain {
        margin-top: 0;
        margin-right: 0;
    }

    .durability-image {
        margin-top: 0;
    }

    .exposition-risq {
        padding: 0;
        margin: 0;
    }

    .column4-container-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "one two" "one two" "three two" "three four";
    }

    .demographie-section  {
        flex-direction: column;
    }

    .demographie-section .demographie-image-group {
        flex-direction: row;
    }
    .sous-titre {
        max-width: inherit;
    }

    .exposition-risq-section {
        flex-direction: column;
    }

    .resist-stress-section {
        flex-direction: column;
    }

    .together-bloc {
        text-align: inherit;
        display: flex;
    }

    .ext {
        flex-direction: row;
    }

    .ext1 {
        flex-direction: row-reverse;
    }

    .together-contain1,
    .together-contain2 {
        width: 85%;
    }

    .engagment-contain, .bloc-type-twins-large-first.approch-border{
        text-align: inherit;
    }

    .engagment-contain-seg2 {
        width: 100%;
    }

    .after-section {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .spacing-responsive {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .resp-img {
        top: 20%;
    }
}

@media (max-width: 768px) {
    .column4-container-list {
        display: block;
    }
    
}

@media (max-width:540px) {
    .together-bloc {
        display: flex;
        flex-direction: column-reverse;
    }

    .together-contain1,
    .together-contain2 {
        width: 100%;
    }

    .resp-img {
        top: 0;
    }

    .together-contain-image {
        width: 60%;
    }

    .engagment-contain-section {
        flex-direction: column;
    }

    .after-section {
        padding-top: 0;
    }

    .together-contain-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:475px) {}

@media (max-width:375px) {}