.title1 {
    color: var(--app-color-text-accent);
}

.resp-img {
    justify-content: center;
    margin-bottom: 34px;
}

.after-section {
    /* border-bottom: 0.1px solid #B4B4B4; */
    /* padding: 50px 0; */
}

.sous-titre {
    font-size: 1.36rem;
    line-height: 1.86rem;
    font-weight: 500;
}

.sous-titre span {
    display: block;
    text-align: center;
}

.spacing-responsive {
    padding-top: 30px;
    padding-bottom: 30px;
}

.photos-profil-list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.senior-advisor-section .photos-profil-list, .investment-team-section .photos-profil-list{
    max-width: 700px;
}



/*
----------our-team-section--------
*/

.our-team-section {
    align-items: stretch;
}

.our-team {
    margin-top: 30px;
    margin-right: 20px;
}

.our-team-image {
    width: 100%;
    height: 100%;
    max-width: 550px;
    object-fit: contain;
}

.our-team-section .bloc-type-twins-large-second {
    text-align: center;
}

/*
----------senior-advisor-section--------
*/

.partner-contain {
    /* padding: 50px 0; */
}

.senior-advisor-title,
.partner-contain-title,
.rejoignez-nous-title {
    padding-bottom: 30px;
    margin-top: 30px;
}

.senior-advisor .item-title {
    font-size: 1.2rem;
}

.senior-advisor .item-subtitle {
    font-weight: 400;
    font-size: 1rem;
}

.partner-contain .item-subtitle {
    font-weight: 400;
}
.rejoignez-nous-title {
    text-align: center;
    padding-bottom: 30px;
}

/*
----------photos-profil div--------
*/

.photos-profil-list {
    display: flex;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width:1240px) {
    .our-team {
        margin-right: 15px;
    }

    .our-team-seg1 .sous-titre {
        font-size: inherit;
    }
}

@media (max-width:991.95px) {
    .our-team-section {
        margin-top: 55px;
        align-items: stretch;
        flex-direction: column-reverse;
    }

    .our-team {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .our-team-image {
        margin-top: 20px;
    }

    .after-section {
        border-bottom: 0;
        padding: 0;
    }

    .spacing-responsive {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


@media (max-width:750px) {
    .spacing-responsive {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .senior-advisor-title,
    .partner-contain-title,
    .rejoignez-nous-title {
        padding-bottom: 15px;
    }

    .photos-profil-list {
        gap: 20px;
    }
}

@media (max-width:475px) {
    .resp-img {
        margin-bottom: 14px;
    }

    .photo {
        width: 14, 46%;
        height: 14, 46%;
    }

    .sous-titre {
        font-size: inherit;
    }
}




/** Modal **/


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.team-modal .photos-profil-item {
    display: flex;
    justify-content: start;
    gap: 3rem;
}

.team-modal .sous-titre span {
    text-align: left;
}

.team-modal .paragraph {
    margin-top: 15px;
}

.hidden {
    display: none;
}


.bloc-type-twins-large:not(.senior-advisor-section) .photos-profil-item{
    cursor: pointer;
}

.photo{
    filter: grayscale(1);
}

#photo1,#photo2{
    filter: unset;
}

@media (max-width:962px) {

    .team-modal .resp-img {
        margin-bottom: 0;
    }

    .team-modal .resp-img img {
        max-width: 40vw;
        height: unset;
        margin-left: auto;
        margin-right: auto;
    }

    .team-modal .photos-profil-item {
        flex-direction: column;
    }

    .team-modal .sous-titre span {
        text-align: center;
    }
}
